kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: harbor-nfs-volume-claim
spec:
  storageClassName: defaultfs
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  selector:
    matchLabels:
      name: harbor-nfs-volume